<li>
    <div class="clear">
        <h1 class="left">{{name}}</h1>
        <button class="playPlaylist btn btn-large btn-primary right">Play this list now!</button>
    </div>
    <p>{{description}}</p>

    <div class="addTrack">
      <h3>Add tracks</h3>
      <form name="add" class="form-inline">
          <p>You can type a Soundcloud username, a track url or a playlist. PS. You can leave <span class="nobreak">"soundcloud.com"</span> out!</p>
          <input type="text" id="urlField" placeholder="username/track url">
          <button class="addPlaylist btn btn-grow">Add tracks</button>
      </form>
    </div>
</li>
