<div class="sidebar bar">
    <div class="bar clear">
        <a href='#playlist/{{name}}' class="sidebar link name left">{{name}}</a>
        <a href='#' class="sidebar link more right">+</a>
    </div>
    <div class="options">
        <form class="form-inline edit">
            <input class="plname" type="text" placeholder="Name" value="{{name}}"><br>
            <textarea class="pldescription" placeholder="Description">{{description}}</textarea></br>
            <div class="clear">
                <button class="updatePlaylist btn left btn-primary">Update</button>
                <button class="removePlaylist btn right btn-danger">Remove</button>
             </div>
        </form>
    </div>
</div>
